body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:714px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:282px;
  top:70px;
  width:150px;
  height:150px;
  font-family:'Ayuthaya', 'Ayuthaya';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:267px;
  top:229px;
  width:185px;
  height:44px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:44px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:282px;
  top:273px;
  width:154px;
  height:15px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:233px;
  top:304px;
  width:67px;
  height:27px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#3399FF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:301px;
  top:302px;
  width:11px;
  height:27px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#515151;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:27px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:315px;
  top:304px;
  width:62px;
  height:27px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#3399FF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:264px;
  top:733px;
  width:185px;
  height:61px;
  color:#797979;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:61px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:-8px;
  top:683px;
  width:730px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:730px;
  height:2px;
}
#u16 {
  position:absolute;
  left:299px;
  top:700px;
  width:43px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:388px;
  top:700px;
  width:54px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:484px;
  top:700px;
  width:64px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:593px;
  top:700px;
  width:65px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:54px;
  top:700px;
  width:36px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:138px;
  top:700px;
  width:29px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:213px;
  top:700px;
  width:38px;
  height:16px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:231px;
  top:350px;
  width:259px;
  height:44px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#515151;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:90px;
  top:407px;
  width:540px;
  height:256px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:256px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:379px;
  top:302px;
  width:11px;
  height:27px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#515151;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:392px;
  top:304px;
  width:94px;
  height:27px;
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#3399FF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
